.buttonSize{
      font-size: 50;
      border-radius: 3px;
      transition: font-size 1s;
    }
    .buttonSize:hover{
      font-size: 80;
      cursor: pointer;
    }
    .pSize{
      font-size: 30;
    }
    .pSize1{
      font-size: 30;
      color: blue;
    }
